body {
    background: #333;
    color: white;
}

header {
    background: white;
    color: #333;
    margin: 100px 50px 20px;
    padding: 20px;
}

main {
    background: white;
    color: #333;
    margin: 100px 50px 20px;
    padding: 20px;
}
